<html lang="en">
<head>
    <title>Add player</title>
</head>
<body>
<form action="save" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input name="name" type="text"></td>
        </tr>
        <tr>
            <td><label>Surname</label></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td><label>Nickname</label></td>
            <td><input name="name" type="text"></td>
        </tr>
        <tr>
            <td><label>Level</label></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td><label>Date of birth</label></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
    <a th:href="@{/}">Go back</a>
</form>
</body>
</html>